<h1 class="text-3xl font-semibold mb-6">Welcome, <%= @user.username %>!</h1>

<div class="flex space-x-4">
  <%= link_to "Edit Profile", edit_profile_path(@user), class: "bg-pink-600 hover:bg-pink-700 text-white font-bold py-3 px-6 rounded-full shadow-md transition-colors" %>

  <%= link_to "View Activity Feed", activities_profile_path(@user), class: "bg-pink-600 hover:bg-pink-700 text-white font-bold py-3 px-6 rounded-full shadow-md transition-colors" %>
</div>