<p>
  <span class="font-bold"><%= activity.owner.username %></span> hat einen neuen Post erstellt: 
  "<%= link_to activity.trackable.title, book_post_path(activity.trackable.book, activity.trackable), class: "text-blue-500 hover:underline" %>"
</p>