<% 
  # Using Safe Navigation (&.) to prevent NoMethodErrors if 'trackable' is nil
  like = activity.trackable
  likeable = like&.likeable 
%>

<p>
  <span class="font-bold"><%= activity.owner.username %></span> liked 
  
  <% if likeable.present? %>
    <% if likeable.is_a?(Post) && likeable.book.present? %>
      a Post.
    
    <% elsif likeable.is_a?(Review) && likeable.book.present? %>
      a Review.
      
    <% else %>
      a contribution.
      
    <% end %>
  <% else %>
    a deleted contribution.
  <% end %>
</p>